




/* Footer */
  
footer {
    background-color: #000;
  }

  footer h5{
    color: black;
    font-weight:700 ;
    font-size: 1.2rem;
  }

  footer p{
    color: white;
  }

  footer li{
     padding-bottom: 4px;
  }

  footer li a{
    font-size: 0.8rem;
    color:antiquewhite
  }

  footer li a:hover{
    color: white;
  }